html{
  background: url("blue.jpg") no-repeat center center fixed;
}

img{
  border-radius: 50%;
}

.background{
  position: relative;
  top: 0px;
  left: 0px;
}

.foreground{
  position: absolute;
  top: 175px;
  left:210px;
}

.visual{
  display: flex;
  flex-direction: row;
  position: relative;
}

.description{
  display: flex;
  flex-direction: row;
  text-align: left;
}

.title{
  text-align: center;
  font-size: 60px;
  font-style: bolder;
}
#description{
  text-align: right;
  font-size: 30px;
  font-style: italic;
  right: 30px;

}
