html{
  background: url("blue.jpg");
}

.splash{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.nicole{
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 3;
  left: 200px;
  top: 170px;
}
