html{
  background: url("blue.jpg") no-repeat center center fixed;
}

img{
  border-radius: 50%;
}

.background{
  position: relative;
  top: 0px;
  left: 0px;
}

.foreground{
  position: absolute;
  top: 175px;
  left:210px;
}

.visual{
  position: relative;
}
