html {
  background: url("paper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img
{
  width: 3%;
  height: auto;
  object-fit: contain;
  margin-top: 60px;
  position: relative;
  left: 550px;
}

textarea
{
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
	height: 600px;
	padding: 5px;
	font-family: Cedarville Cursive, serif;
	background-position: bottom right;
	background-repeat: no-repeat;
  width: 30%;
  font-size: 40px;
  resize: none;
  border: none;
  margin-top: 10px;
}

input
{
  background-color: white;
  height: 50px;
  width: 150px;
  font-size: 20px;
  position: relative;
  left: 550px;
  color: white;
  background-color: black;
}
