nav{
  border:2px dotted blue;
  background-color: lightblue;
  font-weight: bold;
  color:white;

  display: flex;
}
.spacer{
  flex-wrap: nowrap;
  flex-grow: 1;

}

#Welcome{
  font-size: 20px;
  margin-left:20px;
}
.menu-link{
  color: white;
  padding: 10px

}
.menu-link:hover{
  color:red;

}
*
{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

header {
  background-image: url(giphy.gif);
  background-position: top  bottom ;
  background-size: 100% 100%;
  padding: 42px;
  text-align: center;
  font-size: 35px;
  color: white;
  height:33%;
}

section {
  display: -webkit-flex;
  display: flex;
  height:17em;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-image: url(giphy4.gif);
  background-size: 100% 100%;
  padding: 30px;
}


footer {
  background-image:url(giphy5.gif);
  background-size: 100% 100%;
  padding: 20px;
  text-align: center;
  color: white;
  height:17em;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
.container{
  background-image: image(giphy1.gif);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
