html
{
  background: url("sand.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 50%;
  resize: none;
  border: none;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 63%;
  left: 37%;
  transform: translate(-50%, -50%);
  font-family: Cedarville Cursive, serif;
}

h1
{
  background-color: blue;
  font-size: 50px;
  color: white;
  padding-left: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  width: 500px;
  height: 200px;
  background-color: #fffdd0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 20px;
  margin-top: -30px;
  overflow : auto;

}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#myPopup
{
  font-size: 30px;
  color: black;
  position: absolute;
  top: 63%;
  left: 37%;
  transform: translate(-50%, -50%);
  font-family: Cedarville Cursive, serif;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popuptext.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
