<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/about.css">
  </head>
  <body>
      <div class = "splash">
      <img src ="../static/splash.png"/>
      </div>
      <div class = "nicole">
      <img src="../static/nicole.jpg"/ height = "225" width = 190 >
      </div>
    <p> Hi! My name is Nicole Autumn Alonso and I will be a freshman at
      Claremont McKenna College in California this fall!
  </body>
</html>
