<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us!</title>
    <!-- <header> Read all about us! </header> -->
    <link rel="stylesheet" href="../static/about.css">
    <div class="title">About the Creators</div>
  </head>
  <body>
      <div class = "infoRow">
        <div class = "visual">
          <div>
            <img src ="../static/splash.png"/>
            <img src="../static/nicole.jpg"/ height = "225" width = "190" class = foreground>
          </div>
          <p id='test'><br><br><br><br><br>Hi! My name is Nicole Autumn Alonso and I will be a freshman<br> at
         Claremont McKenna College in California this fall! I plan to <br> study
         computer science and economics! I love to dance, travel, and <br>try new foods</p>
        </div>
      </div>
        <!-- <div class = "description">
           <p>Hi! My name is Nicole Autumn Alonso and I will be a freshman at
          Claremont McKenna College <br> in California this fall! I plan to study
          computer science and economics! I love to dance, travel, and <br>try new foods</p></div>
      </div> -->

      <div class = "infoRow">
        <div class = "visual">
          <img src = "../static/splash.png" class = "background"/>
          <img src = "../static/leo.jpg" height = "225" width = "190" class = "foreground">
          <p id= 'test'><br><br><br><br><br>Hey! My name is Leo and I am a rising freshman at Stanford University.
          I am <br>passionate about computer science. In my free time I enjoy reading online<br>
          articles and watching YouTube videos.</p>
        </div>
      </div>
        <!-- <div class = description>
           <p>Hey! My name is Leo and I am a rising freshman at Stanford University.
           I am passionate about <br>computer science. In my free time I enjoy reading online
           articles and watching YouTube videos.</p></div>
        </div> -->

      <div class = "infoRow">
          <div class = "visual">
            <img src = "../static/splash.png"/>
            <img src = "../static/chante.jpg" height = "225" width = "190" class = foreground>
            <p id= 'test'><br><br><br><br><br>My name is Chante Parker. I am going to attend Adelphi University.
            I am going <br> to major in Computer Science. I like to listen to music, watch movies,
            and learn <br>about new aspects.</p>
          </div>
        </div>
          <!-- <div class = description>
            <p>My name is Chante Parker. I am going to attend Adelphi University.
            I am going to major in Computer Science.<br> I like to listen to music, watch movies,
            and learn about new aspects.</p></div> -->
  </body>
</html>
