<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compose Mesage</title>
    <link href= "../static/createstyle.css" rel= "stylesheet" type="text/css">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cedarville+Cursive">
  </head>
  <body>
    <a href="/profile"><img src="../static/x.png"></a> 
    <form action="/create" method="post">
      <textarea name="message" placeholder="Write your message here" maxlength="500"></textarea>
      <br>
      <input type="submit" value="Send">
    </form>
  </body>
</html>
