<!-- https://www.w3schools.com/html/html_form_attributes.asp -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Compose Message </title>
    <link href= "../static/createstyle.css" rel= "stylesheet" type="text/css">
  </head>
  <body>
  <h2>Positive Tides</h2>
  <p>A place in a message in the bottle, where you could share your positive tides with others</p>
<form action="/create" method="post">
  <textarea name="message" placeholder="compose message" rows="10" cols="30"></textarea>
  <br>
  <input type="submit">
</form>
  </body>
</html>
