<html>
<head>
  <link rel="stylesheet" href="../static/game.css">
</head>
  <body background =  "../static/ocean.jpg">
    <div class="container">
  <div class="sliding-background"></div>
</div>
<title>
</title>
<script src="../static/game.js"></script>

<body >
<img src= "../static/pixil-frame-0.png".jpg id='i1' style="position:absolute; left: 890; top: 100;">
<img src= "../static/pixil-frame-0.png".jpg id='i2' style="position:absolute; left: 400; top: 200;">
<img src= "../static/pixil-frame-0.png".jpg id='i3' style="position:absolute; left: 300; top: 430;">
<img src= "../static/pixil-frame-0.png".jpg id='i4' style="position:absolute; left: 270; top: 310;">
<img src= "../static/pixil-frame-0.png".jpg id='i5' style="position:absolute; left: 195; top: 90;">
<img src= "../static/pixil-frame-0.png".jpg id='i6' style="position:absolute; left: 500; top: 50;">
<img src= "../static/pixil-frame-0.png".jpg id='i7' style="position:absolute; left: 610; top: 260;">
<img src= "../static/pixil-frame-0.png".jpg id='i8' style="position:absolute; left: 750; top: 300;">
<img src= "../static/pixil-frame-0.png".jpg id='i9' style="position:absolute; left: 800; top: 190;">
<img src= "../static/pixil-frame-0.png".jpg id='i10' style="position:absolute; left: 100; top: 200;">
<br><br><br><br>

<button id = "startbutton">
<input type=button onClick=timers() value='Start'>

<button id = "resetbutton">
<input type=button onClick=reset1() value='Reset'>
<div id='msg'></div>
</body>
</html>
