<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message in a bottle</title>
    <link href= "../static/style.css" rel= "stylesheet" type="text/css"></link>
  </head>
  <header>
    <center>WECLOME TO MESSAGE IN THE BOTTLE
    <p>Good vibes all the tide</p></center>
  </header>
<body>
 <a href= "{{ login_url }}"><button type="button"></button>
   <div class="button">
     <img src="gif1" alt=>
     <button class="btn">Login In!</button>
   </div>
   </a>

</body>
</html>
