<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message in a bottle</title>
    <link href= "../static/style.css" rel= "stylesheet" type="text/css"></link>
  </head>
  <header>

  </header>
<body>
  <div class="headertext">
    <h1><font size="+15">WELCOME TO MOTTLE <br> GOOD TIDES</font></h1>
  </div>
  <div>
    <center><h1>TO CREATE AND SHARE POSITIVE TIDES,</h1></center>
    <center><h1>LOIGIN BELOW!!!!!!</h1></center>
  </div>
  <div class="loginbutton">
    <a class= "loginlink" href= "{{ login_url }}"><button type="button"><font size="+4">Login</button></font></a>
  </div>
  <div>
   <h1>Make sure you follow us on social media!</h1><img src="../static/social media.jpg" alt="social media">
  </div>
  <div>
    <h2><center><footer> Ⓒ Copyright 2019 CSSI All rights reserved.</center></h2>
</body>
</html>
