<html>
<head>
</head>
  <body background =  "../static/ocean.jpg">
<title>
</title>
<script src="../static/game.js"></script>

<body >
<img src= "../static/pixil-frame-0.png".jpg id='i1' style="position:absolute; left: 500; top: 100;">
<img src= "../static/pixil-frame-0.png".jpg id='i2' style="position:absolute; left: 400; top: 200;">
<img src= "../static/pixil-frame-0.png".jpg id='i3' style="position:absolute; left: 300; top: 500;">
<img src= "../static/pixil-frame-0.png".jpg id='i4' style="position:absolute; left: 400; top: 600;">
<img src= "../static/pixil-frame-0.png".jpg id='i5' style="position:absolute; left: 100; top: 200;">
<img src= "../static/pixil-frame-0.png".jpg id='i6' style="position:absolute; left: 50; top: 500;">
<img src= "../static/pixil-frame-0.png".jpg id='i7' style="position:absolute; left: 150; top: 200;">
<img src= "../static/pixil-frame-0.png".jpg id='i8' style="position:absolute; left: 250; top: 300;">
<img src= "../static/pixil-frame-0.png".jpg id='i9' style="position:absolute; left: 300; top: 700;">
<img src= "../static/pixil-frame-0.png".jpg id='i10' style="position:absolute; left: 100; top: 200;">
<br><br><br><br>

<button id = "startbutton">
<input type=button onClick=timers() value='Start'>

<button id = "resetbutton">
<input type=button onClick=reset1() value='Reset'>
<div id='msg'></div>
</body>
</html>
