<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link  rel= "stylesheet" type="text/css" href= "static/profilestyle.css">
  </head>
  <body>
    <nav>
    <h1 id="Welcome!">Welcome</h1>
    <span class="spacer"></span>
    <a class="menu-link" href="/create">Create Messages</a>
    <a class="menu-link" href="/view_messages">View Messages</a>
    <a class="menu-link" href="/play_game">Play Games!</a>
    <a class="menu-link" href="{{ logout_url }}">Logout</a>
  </body>
</html>
