<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link  rel= "stylesheet" type="text/css" href= "static/profilestyle.css">
  </head>
<body>
<audio controls autoplay>
  <source src="../static/waves.mp3" type="audio/mpeg">
</audio>
<header>
  <center><h2>Our waves</h2></center>
</header>

<section>
  <nav>
    <ul>
      <li><a  class= "menu-link" href="/create">Create Messages</a></li>
      <li><a class= "menu-link" href="/view_messages">View Messages</a></li>
      <li><a class= "menu-link" href="/play_game">Play Game</a></li>
      <li><a class= "menu-link" href="/about">About Us</a></li>
      <li><a  class= "menu-link" href="{{ logout_url }}">Logout</a></li>
    </ul>
  </nav>

  <article>
    <center><h1><b>About Message in a bottle</b></h1></center>
      <center><p>Message in a bottle is a virtual message system that sends positive vibes through an interactive game.</p></center>
      <center><p>It happens to send postive messages aka tides through the our virtual ocean and all you have to do is to send postive tides and get positive tides.</p></center>
  </article>
</section>

<footer>
  <p>Enjoy the wave while you can and we hope to see you again!</p>
</body>
