<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link  rel= "stylesheet" type="text/css" href= "static/profilestyle.css">



</style>
</head>
<body>


<header>
  <center><h2>Our waves</h2></center>
</header>

<section>
  <nav>
    <ul>
      <li><a  class= "menu-link" href="/create">Create Messages</a></li>
      <li><a class= "menu-link" href="/view_messages">View Messages</a></li>
      <li><a class= "menu-link" href="/play_games">Play Games!</a></li>
      <li><a  class= "menu-link" href="{{ logout_url }}">Logout</a></li>
    </ul>
  </nav>

  <article>
    <h1>About Message in a bottle</h1>
      <p>Message in a bottle is a virtual message system that sends positive vibes through an interactive game.</p>
      <p>It happens to send postive vibes aka tides through the our virtual ocean and all you have to do is to send postive tides and get positive tides. </p>
  </article>
</section>

<footer>
  <p>Enjoy the wave while you can and we hope to see you again!</p>
</body>
