<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message in a bottle Sign UP </title>
    <link href= "../static/style.css" rel= "stylesheet" type="text/css">
</head>
<body>
    <header>
      <center><h1>PLEASE WRITE POSTIVE VIBES PERIODT<h1>
        <center><h2> Please sign up below<h2>
    <div class="row">
            <div class="backgroundimage">
              <img src="../static/gif1.gif"/>
    <form action="action_page.php" style="border:1px solid #ccc">
                <div class="container">
                  <font size= 13/>
                  <p>Please fill in this form to create an account.</p>
                  <hr>
                  <font size= 15/>
                  <label for="Username"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="Username" required>

                  <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                  <div class="clearfix">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                  </div>
                </div>
              </form>
  </body>
</html>
