<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href= "../static/view_messages.css" rel= "stylesheet" type="text/css">
    <title>View Messages</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cedarville+Cursive">
  </head>
  <body>
  <a href = "/profile"><img src = "../static/backbutton.png" height = 50px width = 50px></a>
    <h1>Click on a bottle to read a message</h1>
    {% for message in messages %}
        <div class="container">
          <img src="../static/bottle4.png" alt="Snow" style="width:100%;">
          <div class="centered">{{ message.get().message_txt[0:20] }}...</div>
          {% if message.get().opened %}
            <span class="popuptext" id="myPopup">{{ message.get().message_txt }}</span>
          {% else %}
            <span class="popuptext" id="myPopup" style="background-color:red">This message is locked. Play the game to unlock it.</span>
          {% endif %}
        </div>
    {% endfor %}
  </body>
  <script src="../static/view.js"></script>
</html>
